.main{
  width: 100%;
  max-width: 700px;
  margin: 80px auto;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 1px 1px 5px 5px rgb(94, 93, 93);
  animation: moveDown 2s ease-out ;
}

@keyframes moveDown{
  0%{
    transform:  translateY(-100px);
  }


  100%{
    transform: translateY(0);
  }
}

h1{
  font-size:30px;
  margin: 20px 0;
}

 .form{
  width: 100%;
  max-width: 400px;
  margin: 30px auto;
  display: flex;
  justify-content: center;

}

.form input{
  height:40px;
  flex:1;
  border: 1px solid #ccc;
  padding:0 20px;
}

.form button[type="submit"]{
  height: 40px;
  padding:0 20px;
  width:70px;
  color:#fff;
  border: 0;
  background:#f04c64;
  transition:  background 0.8s ease-out;
}

.form button:hover{
  background:#c53f53;
}

.list{
  list-style: none;
  display: flex;
  flex-direction: column;

}

.list li{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
  background:#fff;
  padding: 16px;
  border-radius: 4px;
  transition: transform 0.8s ease-out;
}

.list li:hover{
  transform: translateX(10px);
  background:#5abaf2;
  cursor: pointer;
}

.list li strong{
  width: 400px;
  text-align: left;
}
.list li div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.list li div:hover{
  color:#000;
}

.list div svg{
  margin: 0 10px;
  cursor: pointer;
}






