.list{
  list-style: none;
  display: flex;
  flex-direction: column;

}

.list li{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
  background:#fff;
  padding: 16px;
  border-radius: 4px;
  transition: transform 0.8s ease-out;
}

.list li:hover{
  transform: translateX(10px);
  background:#5abaf2;
  cursor: pointer;
}

.list li strong{
  width: 400px;
  text-align: left;
}
.list li div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.list li div:hover{
  color:#000;
}

.list div svg{
  margin: 0 10px;
  cursor: pointer;
}
